<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575898611266-3kgij7op8jj2di8q44vuphsn4mgce45o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575898611266-3kgij7op8jj2di8q44vuphsn4mgce45o</string>
	<key>API_KEY</key>
	<string>AIzaSyBwD1Su31YfWN1DmaSHk7gcajacchBJsXA</string>
	<key>GCM_SENDER_ID</key>
	<string>575898611266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.havi.iOSTemplateApp</string>
	<key>PROJECT_ID</key>
	<string>iostemplateapp</string>
	<key>STORAGE_BUCKET</key>
	<string>iostemplateapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575898611266:ios:78570d49a778be768d07db</string>
</dict>
</plist>